# The directory containing your source OS Open Data
# files. All files in the specified directory and it's decendents will be loaded.
src_dir=/home/katia/OSOpenWorkingArea/

# The .csv file containing parameters for each dataset
csv_table=/home/katia/OSOpenWorkingArea/Table.csv

# Database the datasets will be loaded into
database=dbname='OSOPEN' user='postgres' host='localhost' password='postgres'



