# The directory containing your source OS Open Data.  This directory should
# contain a directory for each product named according to the product names in
# the csv_table file. Each directory should contain the source data (.txt,
# .shp, .dbf etc.) as well as a VRT file copied from the VRTs directory if the
# source is .txt or .csv.
#
# For example for Strategi the directory would contain:
# └── Strategi
#    ├── admin_line.dbf
#    ├── admin_line.prj
#    ├── admin_line.shp
#    ├── admin_line.shx
#    ├── ...
#    ├── STRATEGI_GAZETTEER_2013.TXT
#    ├── Strategi_Gazetteer.vrt     <-- Copied from VRTs and edited so that the path is correct
#    ├── ...
#
# The default assumes a directory called "data" in the same directory as this
# file.
src_dir=data

# The .csv file containing parameters for each dataset including schema, file
# names etc.
csv_table=Table.csv

# PostgreSQL database the datasets will be loaded into, the schema is specified
# in the csv_table file.
database=dbname='osopen' user='postgres' host='localhost' password='postgres'

